<html lang="en">
	<head>
		<script>
			function submit_form()
			{
				document.getElementById("form1").submit();
			}
		</script>
    <meta charset="utf-8">
    <title>LOG-IN PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body style = "background: #bfcc97;">
    <div class="container">
      <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <img src="images/login/LOGO.png" alt="Welcome to The Nutritions!">
            <h4> <small>The Nutritions!</small></h4>
          </div>
<form action="../../Controller/form_action.php" method="post" id="form1" class="navbar-form">
          <div class="login-form">
            <div class="control-group">
            	
              <input type="text" name="username" style="height: 40px;width: 250px;" /><br/>
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
              <input type="password"  value="" name="password" style="height: 40px;width: 250px;">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
<input type="hidden" value="login" name="action" />
            <a class="btn btn-primary btn-large btn-block" href="#" onclick="submit_form();">Login</a>
            <a class="login-link" href="#">Lost your password?</a>
          </div>
 </form>
        </div>
      </div>
    </div> 

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  

</body></html>